.header {
    margin-top: 20px;
    margin-bottom: 50px;
    &__menu {
        display: inline-flex;
        // justify-content: space-between;
        margin: 0 auto;
        // width: 700px;
    }
    &__bullet {
        // &:first-child {
        //     margin-left: 0px;
        // }
        margin-left: 30px;
    }
}