.toggler {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
    &__point {
        width: 50%;
        height: 100%;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
        &_active {
            background: salmon;
        }
    }
}